@{
	ViewData["Title"] = "Poems";
}

<h3 class="text-primary">Poems</h3>
<ol>
	<li title="Open" class="cursor-pointer" id="red">Spring</li>
	<li title="Open">Jade Empress</li>
	<li title="Open">Disconsolate's Hymn</li>
	<li title="Open">Dark Horse</li>
	<li title="Open">Independence Of A Giant</li>
</ol>
