<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="DATA"
			connectionString="Data Source=CHARLES\MYDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			providerName="MIcrosoft.EntityFrameworkCore.SqlServer"
		/>
	</connectionStrings>
</configuration>