@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Task<IEnumerable<Poemify.DAL.Entities.User>>
<section id="team">
    
    
    
    <div class="container">
        <h6 class="section-subtitle text-center">Meet With</h6>
        <h6 class="section-title mb-5 text-center">Our Top Members</h6>
        <div class="row">
            @foreach (var item in (await Model.ConfigureAwait(false)).Select((value) => new { value }))
            {
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="assets/imgs/avatar.jpg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">@item.value.Title</h6>
                        <h5 class="card-title">@item.value.FullName</h5>
                            <p>@item.value.Bio</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="ti-github"></i></a>
                            <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                            <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    
</section>
           
        
            @*<div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img classcar="d-img-top inset" src="assets/imgs/avatar-1.jpg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Nature Poet</h6>
                        <h5 class="card-title">Barbara Ross</h5>
                        <p>Ross is a nature lover. She has 10 awards to her name.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="ti-github"></i></a>
                            <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                            <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="assets/imgs/avatar-2.jpg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Award winning poet '23 </h6>
                        <h5 class="card-title">Karen Perry</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quos esse tenetur illo qui, nostrum.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="ti-github"></i></a>
                            <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                            <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="assets/imgs/avatar-3.jpg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Creative Thinker '23</h6>
                        <h5 class="card-title">Ashley Diaz</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quos esse tenetur illo qui, nostrum.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="ti-github"></i></a>
                            <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                            <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="assets/imgs/avatar-4.jpg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Outstanding Poet '23</h6>
                        <h5 class="card-title">Edward Harris</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quos esse tenetur illo qui, nostrum.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="ti-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="ti-github"></i></a>
                            <a href="javascript:void(0)"><i class="ti-dropbox"></i></a>
                            <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
*@

    